<!DOCTYPE html>
<html>

  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>

    <body>
    <%- include('./partials/nav.ejs') %>
    <div class="contenete">
        <main class="main">
            <div class="container2">
                <section class="wrapper">
                    <div class="heading">
                        <h1 class="text text-large">Edit Movie</h1>
                    </div>
                    <form name="signin" class="form" action="/movies/edit/<%= movies.id%>" method="POST">
                        <div class="input-control">
                            <label for="title" class="input-label" hidden>Title</label>
                            <input type="text" name="title" id="email" class="input-field" placeholder="Title" required>
                        </div>
                        <div class="input-control">
                            <label for="rating" class="input-label" hidden>Rating</label>
                            <input type="number" name="rating" id="password" class="input-field" placeholder="Rating" required>
                        </div>
                        <div class="input-control">
                            <label for="awards" class="input-label" hidden>Awards</label>
                            <input type="number" name="awards" id="password" class="input-field" placeholder="Awards" required>
                        </div>
                        <div class="input-control">
                            <label for="release_date" class="input-label" hidden>Release-date</label>
                            <input type="date" name="release_date" id="password" class="input-field" placeholder="Release-date" required>
                        </div>
                        <div class="input-control">
                            <label for="length" class="input-label" hidden>Length</label>
                            <input type="number" name="length" id="password" class="input-field" placeholder="Length" required>
                        </div>
                        <p class="selectcss" style="padding: 0.75rem 1.25rem;">
                            <select class="selectcss" name="genre_id" id="" required>
                                <option  value="" disabled selected>- select genre - </option>
                                <% allGenres.forEach(genre => { %>
                                    <option value="<%= genre.id %>" <% if (Movie.genre_id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                                    <% }); %>
                            </select>
                        </p>
                        <br>
                        <div style="justify-content: center;" class="input-control">
                            <input type="submit" name="submit" class="input-submit" value="Actualizar">
                        </div>
                    </form>
                </section>
            </div>
        </main>
    </div>

  </body>
</html>
